/* regole generali */
body{
  background-image: url(../img/bg.jpg);
  padding-top: 10px;
  background-attachment: fixed;
}

*{
margin: auto;
box-sizing:border-box;
padding:0;
font-family: Verdana, sans-serif;
}

h3{
  display: inline-block;
  color:#504741;
  font-weight: bold;
}

div.blocco1 i{
  color:orange;
  font-size: 21px;
}
/* |regole generali */

/* sezione header */
header{
  width: 65%;
  height: 250px;
}

img{
  width: 100%;
  height: 100%;
  border:7px solid white;
  position: relative;
}

header span{
  color: white;
  display: inline-block;
  position: absolute;
  top: 12%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  border: 7px solid white;
  padding: 1% 3%;
}

header span:last-child{
  border:0;
  position: absolute;
  top: 23%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
}
/* |sezione header */

/* sezione navbar */
div.menu{
  background:#667667;
  width: 65%;
  height: 40px;
}

ul.navbar{
  list-style-type: none;
  margin:0;
  height: 80%
}

ul.navbar li{
  margin:0;
  display:inline-block;
  color: white;
  font-weight:bold;
  width: 11%;
  height: 150%;
  margin:1% 2%;
  line-height:100%;
  text-align:center;
  font-size: 10px;
  text-transform: uppercase;
}

.layover:hover{
  cursor: pointer;
  font-size: 15px;
  color: #526271;
  transition: 0.2s;
}
/* |sezione navbar */

/* parte centrale */
div.global{
  width: 65%;
  margin-top:20px;
  margin-bottom: 50px;
}

div.global:after{
  content: "";
  display: table;
  clear:both;
}

/* regole generali colonne */
div.colonna1, div.colonna2,div.colonna3{
  float: left;
  border-radius: 10%;
}

ul.left{
  list-style-type: none;
  padding: 0;
}

ul.left li a {
  text-decoration: none;
  color:green;
}
/* |regole generali colonne */

/* regole colonne singole */
div.colonna1{
  width: 20%;
  background:white;
}

div.colonna2{
  width: 54%;
  background:green;
  margin-left: 3%;
  margin-right:3%;
}

div.colonna3{
  width: 20%;
}
/* |regole colonne singole */

/* regole generali blocchi */
div.blocco1,div.blocco2,div.blocco3{
  width:100%;
  background: white;
  padding: 10px;
  border-radius:15px;
  border:2px solid #667667;
}
/* |regole generali blocchi in colonna3 */

/* regole blocchi singoli */
div.blocco2{
  margin-top: 10%;
  margin-bottom: 10%;
}
/* |regole blocchi singoli */

/* footer */
footer{
    background:white;
    width: 65%;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #667667;
    position:relative;
}

footer span{
  color: lightgrey;
  display: inline-block;
  position: absolute;
  top: 20%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

footer > div{
  width: 98%;
}

div.border-bottom{
 border:1px solid lightgrey;
 height: 50px;
 border-top:0;
 border-right: 0;
 border-left: 0;
}

/* regole generali icone footer */
footer i{
  font-size: 25px;
  position: absolute;
  top:70%;
}
/* |regole generali icone footer */

/* regole icone singole */
i.facebook{
  left:20%;
  transform: translate(-50%,-50%);
  color:#3D5A99;
}

i.instagram{
  left:50%;
  transform: translate(-50%,-50%);
  color:#F9224D;
}

i.github{
  left:80%;
  transform: translate(-50%,-50%)
}
/* |regole icone singole */


/* |footer */
